:host {
  display: block;
}

button{
  text-align: center;
  padding:0.5rem 0;
  width:100%;
  position:relative;
  overflow: hidden;
  border-color: transparent;
  transition: all .3s ease-out;
  background-color: white;
  border-color: #ccc;
  cursor: pointer;
}

  button::before,
  button::after {
    position:absolute;
    opacity:0;
    transition: all .3s ease-out;
    content:'>';
  }

  button::before{
    left:-20px;
  }

  button::after{
    transform: rotate(180deg);
    right:-20px;
  }

  button:hover{
    border-color: rgb(51, 51, 51);
    background-color:#000;
    color:#fff;
  }

    button:hover::before{
      left:0.25rem;
      opacity:1;
    }

    button:hover::after{
      right:0.25rem;
      opacity:1;
    }